.questionButton {
    transition: var(--transition);
    &:hover {
        background: var(--darkMain) !important;
    }
    .MuiTouchRipple-root {
        background: transparent !important;
    }
}

.topicLabel {
    align-content: center;
}

.deleteButton {
    svg {
        font-size: 18px;
        path {
            fill: var(--fontColor);
        }
    }
}